---
layout: default
title: Home
---

<main id="home">

	<section id="recent-projects">
		<h2>Recent Projects</h2>
		<button class="see-all"><a href="{{ site.baseurl }}/projects/">See all</a></button>
		<div id="slider-wrapper">
			<ul>
				{% for project in site.projects limit: 4 %}
					<li>
						<a href="{{ site.baseurl }}{{ project.url }}">
							<img src="http://unsplash.it/1130/400?random">
							<h2>{{ project.title }}</h2>
							<p>{{ project.overview | truncatewords: 18 }}</p>
						</a>
					</li>
				{% endfor %}
			</ul>
			<button id="slider-prev"><i class="fa fa-caret-left"></i></button>
			<button id="slider-next"><i class="fa fa-caret-right"></i></button>
			<div id="slider-info">
				<h2 class="slider-title"></h2>
				<p class="slider-content"></p>
			</div>
		</div>
	</section>

	<hr>

	<section id="people">
		<h2>People</h2>
		<button class="see-all"><a href="{{ site.baseurl }}/people/">See all</a></button>
		<ul>
			{% for person in site.people limit: 4 %}
				<li>
					<img src="http://unsplash.it/200?random">
					<div class="person-info">
						<a href="{{ site.baseurl }}/people/#{{ person.first_name }}-{{ person.last_name }}"><h2>{{ person.name }}</h2></a>
						<h3>Focuses: {{ person.focus }}</h3>
						<h3>Website: <a href="{{ person.website }}">{{ person.website }}</a></h3>
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	<hr>

	<section id="recent-wiki">
		<h2>Recent Wiki Post</h2>
		<button class="see-all"><a href="{{ site.baseurl }}/wiki/">Go to Wiki</a></button>
		<ul>
			{% for wiki in site.wiki limit: 1 %}
				<li>
					<a href="{{ site.baseurl }}{{ wiki.url }}">
						<img src="http://unsplash.it/350?random">
						<div class="wiki-info">
							<h3 class="wiki-date">{{ wiki.date }}</h3>
							<h2 class="wiki-title">{{ wiki.title }}</h2>
							<h3 class="wiki-author">Written by {{ wiki.author }}</h3>
							<h4 class="wiki-tags">Tags: {{ wiki.tags }}</h4>
							<p class="wiki-content">{{ wiki.content | truncatewords: 150 }}</p>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>

</main>