<header>
	<div id="header-branding">
		<div id="header-branding-inner">
			<img src="{{ site.baseurl }}/public/images/nu-logo.png">
			<h2>Master of Science in Robotics</h2>
		</div>
	</div>

	<nav id="header-navigation">
		<ul>
			<li><a href="{{ site.baseurl }}/">HOME</a></li>
			<li><a href="{{ site.baseurl }}/projects/">PROJECTS</a></li>
			<li>
				<a href="{{ site.baseurl }}/students/">STUDENTS</a>
				<ul>
					<li>
						<a href="{{ site.baseurl }}/students/?class_year=all">All</a>
					</li>
					{% for year in site.collections.students.years %}
						<li>
							<a href="{{ site.baseurl }}/students/?class_year={{ year }}">{{ year }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			<li><a href="{{ site.baseurl }}/resources/">RESOURCES</a></li>
		</ul>
	</nav>
</header>