<head>
	<meta charset="utf-8">

	<title>{{ site.title }}</title>

	<link rel="icon" type="image/png" href="{{ site.baseurl }}/public/images/favicon.png">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/stylesheets/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/public/javascripts/script.js"></script>
	
</head>