/* Globals */
/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/brushed/brushed.png"); }
  html body #wrapper {
    width: 100%; }
    html body #wrapper main {
      margin: 0 auto;
      padding: 40px;
      width: calc(65% - 80px);
      background-color: #fff;
      box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888; }
      html body #wrapper main h1 {
        margin-bottom: 20px;
        font-size: 45px; }
    html body #wrapper h1, html body #wrapper h2, html body #wrapper h3, html body #wrapper p {
      color: #333; }

/* Header */
header {
  width: 100%; }
  header div#header-branding {
    background: -webkit-linear-gradient(left, #490459, #490459, #823292, #490459);
    background: -moz-linear-gradient(right, #490459, #490459, #823292, #490459);
    background: linear-gradient(to right, #490459, #490459, #823292, #490459); }
    header div#header-branding div#header-branding-inner {
      margin: 0 auto;
      padding: 20px 0;
      width: 65%; }
      header div#header-branding div#header-branding-inner img {
        display: inline-block;
        margin: 0 70px 0 0; }
      header div#header-branding div#header-branding-inner h2 {
        display: inline-block;
        margin-left: 110px;
        color: #ffffff;
        font-size: 35px;
        line-height: 140px;
        vertical-align: top;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  header nav#header-navigation {
    background-color: #31043f; }
    header nav#header-navigation ul {
      margin: 0 auto;
      width: 65%;
      list-style: none; }
      header nav#header-navigation ul li {
        display: inline-block;
        width: calc(100% / 4 - 5px);
        border-right: 1px solid #5b3b64; }
        header nav#header-navigation ul li a {
          display: block;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
          color: #fff; }
      header nav#header-navigation ul li:first-child {
        border-left: 1px solid #5b3b64; }

/* Home */
main#home section h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
  font-size: 25px; }
main#home section button {
  display: inline-block;
  margin-left: 5px;
  padding: 6px 10px;
  color: #555;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 6px 0px 7px -7px #888888, 0px 6px 7px -7px #888888;
  cursor: pointer; }
  main#home section button a {
    color: #555;
    text-decoration: none; }
main#home section button:active {
  position: relative;
  top: 1px; }
main#home section#recent-projects {
  width: 100%; }
  main#home section#recent-projects div#slider-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 6px 0px 7px -7px #888888, 0px 6px 7px -7px #888888; }
    main#home section#recent-projects div#slider-wrapper ul {
      position: relative;
      top: 0;
      left: 0;
      list-style: none; }
      main#home section#recent-projects div#slider-wrapper ul li {
        float: left; }
        main#home section#recent-projects div#slider-wrapper ul li a {
          position: relative; }
          main#home section#recent-projects div#slider-wrapper ul li a img {
            display: block; }
          main#home section#recent-projects div#slider-wrapper ul li a h2 {
            position: absolute;
            top: 0; }
    main#home section#recent-projects div#slider-wrapper button {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      cursor: pointer; }
    main#home section#recent-projects div#slider-wrapper button#slider-prev {
      left: 10px; }
    main#home section#recent-projects div#slider-wrapper button#slider-next {
      right: 10px; }
main#home section#student-highlights {
  width: 100%; }
  main#home section#student-highlights ul {
    margin-bottom: 20px; }
    main#home section#student-highlights ul li {
      display: inline-block;
      width: calc(100% / 4 - 20px);
      border: 1px solid #aaa;
      border-radius: 3px;
      box-shadow: 6px 0px 7px -7px #888888, 0px 6px 7px -7px #888888; }
      main#home section#student-highlights ul li a {
        text-decoration: none; }
        main#home section#student-highlights ul li a img {
          width: 100%;
          border-bottom: 1px solid #aaa; }
        main#home section#student-highlights ul li a h2 {
          padding: 10px 5px;
          width: 100%;
          text-align: center;
          font-size: 14px; }
    main#home section#student-highlights ul li:not(:first-child) {
      margin-left: 20px; }
    main#home section#student-highlights ul li:hover {
      opacity: 0.8;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

/* Posts */
article.post h3 {
  margin: 35px 0 0 0; }
article.post .post-heading {
  overflow: auto; }
  article.post .post-heading .featured-image {
    float: left;
    width: 300px;
    margin: 0 50px 0 0; }
  article.post .post-heading .post-title {
    margin: 0 0 15px 0;
    font-size: 29px; }
  article.post .post-heading .post-demo {
    padding: 10px 16px;
    line-height: 24px;
    text-decoration: none;
    background-color: #60b044;
    background-image: mox-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border: 1px solid #5ca941;
    border-radius: 3px;
    color: #ffffff; }
    article.post .post-heading .post-demo i {
      font-size: 25px; }
  article.post .post-heading .post-requirements h4 {
    margin: 25px 0 10px 0; }
  article.post .post-heading .post-requirements ul {
    float: left;
    margin: 0;
    padding: 15px 15px 15px 40px;
    width: 270px;
    background-color: #bbceee;
    border: 1px solid #9daab8;
    border-radius: 3px; }
article.post .post-content .post-demo-instructions ol li {
  margin: 0 0 10px 0; }
  article.post .post-content .post-demo-instructions ol li code {
    display: block;
    margin: 5px 0 0 0;
    padding: 9px 10px;
    background-color: #f3f57;
    border: 1px solid #aebdcc;
    border-radius: 4px;
    font-family: Courier; }
article.post .post-content .post-starts ul li a {
  color: #426dff;
  text-decoration: none; }

/* Footer */
footer {
  width: 100%;
  background-color: #31043F; }
  footer #foot-inner {
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    overflow: auto; }
