<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		<div id="wrapper">

			{% include header.html %}

			<div id="content">
				<main>

					<article class="post">

						<section class="post-heading">

							<img class="featured-image" src="{{ site.baseurl }}{{ page.image }}">
							<h1 class="post-title">{{ page.title }}</h1>
							<a class="post-demo" target="_blank" href="{{ page.demo }}">
								<span>Check out the demo</span>
								<i class="fa fa-github"></i>
							</a>

							<div class="post-requirements">
								<h4>Requirements</h4>
								<ul>
									{% for req in page.requirements %}
										<li>{{ req }}</li>
									{% endfor %}
								</ul>
							</div>

						</section>

						<section class="post-overview">
							<h3>Overview</h3>
							<p>{{ page.overview }}</p>
						</section>

						<section class="post-content">

							<div class='post-demo-instructions'>
								<h3>Get the demo up and running</h3>
								<ol>
									{% for step in page.demo-instructions %}
										{% if step[1] %}
											<li>
												{{ step[0] }}
												<code>{{ step[1] }}</code>
											</li>
										{% else %}
											<li>
												{{ step }}
											</li>
										{% endif %}

									{% endfor %}
								</ol>
							</div>

							<div class="post-starts">
								<h3>Great places to start</h3>
								<ul>
									{% for place in page.places-to-start %}
										{% if place[1] %}
											<li>
												<a href="{{ place[1] }}">{{ place[0] }}</a>
											</li>
										{% else %}
											<li>
												{{ place }}
											</li>
										{% endif %}

									{% endfor %}
								</ul>
							</div>

						</section>


					</article>

				</main>
			</div>

			{% include footer.html %}

		</div>

	</body>
</html>